
  
  nav {
    margin-top: 25px;
    height: 90px;
    width:100%;
    float:none;

  }
  
  footer{
    width:100%;
    float:none;
    display:block;
    margin-left: auto;
    margin-right:auto;
    
  }